<mat-drawer-container class="main-content-drawer">
  <mat-drawer mode="side" opened>
    <div class="logo-wrapper">
      <a><img class="logo" src="https://ui8-unity.herokuapp.com/img/logo.png" alt="sfas" /></a>
    </div>
    <div class="sidebar-menu">
      <div class="caption">
        <span>Admin tools</span>
      </div>
      <a routerLink="/">
        <div>icon</div>
        <div>Shit Farm</div>
      </a>
      <a routerLink="/shit-farm">
        <div>icon</div>
        <div>Add Liquidity</div>
      </a>
      <a routerLink="/shit-farm">
        <div>icon</div>
        <div>Trade</div>
      </a>
      <a routerLink="/shit-farm">
        <div>icon</div>
        <div>Pools</div>
      </a>
      <a routerLink="/shit-farm">
        <div>icon</div>
        <div>Info</div>
      </a>
    </div>
    <div class="sidenav-bottom">
      <mat-slide-toggle>Slide this shit!</mat-slide-toggle>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div class="content">
        shit content
      </div>
    </div>
  </mat-drawer-content>

  <router-outlet></router-outlet>
</mat-drawer-container>