<!-- <svg-icon *ngIf="isHandset && sidenavRef.closedStart" (click)="toggleSideNav()" src="/assets/images/svg/settings.svg"
    [svgStyle]="{ 'width.px':24}"></svg-icon> -->


<mat-drawer-container class="main-content-drawer">
  <mat-drawer mode="side" [opened]="isSidenavOpened" [disableClose]="isHandset ? 'false' : 'true'" #sidenavRef>
    <div class="logo-wrapper">
      <svg-icon *ngIf="isHandset && sidenavRef.opened" (click)="toggleSideNav()" src="/assets/images/svg/close.svg"
        [svgStyle]="{ 'width.px':20, 'height.px':20, 'margin-right.px':25}"></svg-icon>
      <a><img [class.handset-logo-width]="isHandset" class="logo" src="https://ui8-unity.herokuapp.com/img/logo.png"
          alt="sfas" /></a>
    </div>
    <div class="sidebar-menu">
      <div class="caption">
        <span>Shit tools</span>
      </div>
      <a routerLink='/shit-home' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/message.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
        </div>
        <div>Shit Farm</div>
      </a>
      <a id="liquidity" routerLink='/shit-liquidty' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/bag.svg" [svgStyle]="{ 'width.px':24}"></svg-icon>
        </div>
        <div>Shit Liquidity</div>
      </a>
      <a routerLink='/shit-tokens' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/analytic.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
        </div>
        <div>Tokens</div>
      </a>
      <a routerLink='/shit-pairs' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/compass.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
        </div>
        <div>Pairs</div>
      </a>
      <a routerLink='/shit-rank' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/wallet.svg" [svgStyle]="{ 'width.px':24}"></svg-icon>
        </div>
        <div>Ranks</div>
      </a>
      <a routerLink='/shit-statements' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/text.svg" [svgStyle]="{ 'width.px':24}"></svg-icon>
        </div>
        <div>Statements</div>
      </a>
      <a routerLink='/shit-settings' routerLinkActive="menu-active-link">
        <div>
          <svg-icon src="/assets/images/svg/settings.svg" [svgStyle]="{ 'width.px':24}"></svg-icon>
        </div>
        <div>Settings</div>
      </a>
    </div>

    <div class="sidenav-bottom">
      <app-theme-switcher></app-theme-switcher>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div class="content">
        <app-toolbar>
        </app-toolbar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>