// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/core/theming/_all-theme";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shit-app-primary: mat-palette($mat-indigo);
$shit-app-accent: mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shit-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shit-app-theme: mat-light-theme(
  $shit-app-primary,
  $shit-app-accent,
  $shit-app-warn
);

.dark-theme {
  // Dark theme
  $app-dark-primary: mat-palette($mat-pink, 700);
  $app-dark-accent: mat-palette($mat-blue-grey);
  $app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent);

  @include angular-material-theme($app-dark-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shit-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
