//include material theming
@import "~@angular/material/theming";
@include mat-core();


$mat-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);





// Define the light theme
$light-app-primary: mat-palette($mat-blue);
$light-app-accent: mat-palette($mat-pink, A200, A100, A400);
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent);

// Include the light theme styles.


// Define an dark theme.
$dark-primary: mat-palette($mat-brown);
$dark-accent: mat-palette($mat-amber, A500, A300, A500);
$dark-warn: mat-palette($mat-deep-orange);
$dark-app-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// themes will be switched based on class names, angular will switch classes which will trigger the theme change
.dark-theme {
  @include angular-material-theme($dark-app-theme);
}

.light-theme {
  @include angular-material-theme($light-app-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
